.DS_Store
package-lock.json
.venv/
*.log
__pychache__/
node_modules/
package-lock.json
**/*.backup.*/
**/*.back.*/
build/
data/

.env
.env.*
!.env.example
backend/app/static/feedicons/*
!backend/app/static/feedicons/default.png

bower_components

*.sublime*

psd
thumb
sketch
