aiohttp
aiosqlite
alembic
apscheduler
asyncpg
beautifulsoup4
cvss
exifread
fastapi[all]
feedparser
gitcolombo
greenlet
html2text
httpx
lxml[html-clean]
maigret[pdf]
mailcat-osint
mitreattack-python
newspaper4k
pillow
psutil
pydantic[email]
pydantic-ai-slim[anthropic,google,openai]
pydantic-settings
pytest
pytest-cov
regex
requests
slowapi
social-analyzer
sqlalchemy
uvicorn[standard]
